.file_upload {
    position: relative;
    overflow: hidden;
    /*font-size: 1em;        !* example *!*/
    /*height: 2em;           !* example *!*/
    /*line-height: 2em       !* the same as height *!*/
}

.file_upload > button {
    /*float: right;*/
    /*width: 8em; !* example *!*/
    /*height: 100%*/
}

/*.file_upload > div{*/
/*padding-left: 1em      !* example *!*/
/*}*/

.file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em; /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

/*.xml_upload {*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/

/*.xml_upload > button {*/
    /*width: 8em;*/
/*}*/

/*.xml_upload input[type=file] {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*transform: scale(20);*/
    /*letter-spacing: 10em; !* IE 9 fix *!*/
    /*-ms-transform: scale(20); !* IE 9 fix *!*/
    /*opacity: 0;*/
    /*cursor: pointer*/
/*}*/