.input-form {
    margin: 5px;
}

/*.div__def-font {*/
/*font-size: 16px;*/
/*color: #bababa;*/
/*}*/
.input-form__confirm-button {
    background: gainsboro;
    color: darkslategray;
    /*border: solid darkorange;*/
    border-width: 0;
    /*margin-top: 5px;*/
    border-radius: 4px;
    min-width: 100px;
    min-height: 25px;
    cursor: pointer;
}

.input-form__cancel-button {
    background: bisque;
    color: darkslategray;
    /*border: solid darkorange;*/
    border-width: 0;
    margin-top: 5px;
    border-radius: 4px;
    min-width: 100px;
    min-height: 25px;
    cursor: pointer;
}

.input-form__delete-phone-button {
    /*margin-left: 5px;*/
    background: bisque;
    color: darkslategray;
    border-width: 0;
    /*margin-top: 5px;*/
    border-radius: 4px;
    min-width: 30px;
    min-height: 25px;
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: -40px;
}

.input-form__add-phone-button {
    display: block;
    /*margin-top: 10px;*/
    background: paleturquoise;
    color: darkslategray;
    border-width: 0;
    border-radius: 4px;
    min-width: 30px;
    min-height: 25px;
    cursor: pointer;
}

.input-form__label-70 {
    min-width: 70px;
    display: inline-block;
    font-size: 16px;
}

/*.formLabel100 {*/
/*min-width: 100px;*/
/*display: inline-block;*/
/*font-size: 16px;*/
/*}*/
.input-form__label-150 {
    min-width: 150px;
    display: inline-block;
    font-size: 16px;
}

.input-form__line {
    font-size: 0;
}

.input-form__line + .input-form__line {
    margin-top: 10px;
}

.input-form__phone-line {
    font-size: 0;
    margin-bottom: 10px;
    padding-right: 40px;
}

.input-form__phone-field {
    border-radius: 4px;
    border-width: 1px;
    min-height: 25px;
    padding: 3px;
    width: 100%;
    /*min-width: 200px;*/
    /*width: calc(100% - 150px);*/
    font-size: 14px;
    color: darkslategray;
}

.input-form__field {
    border-radius: 4px;
    border-width: 1px;
    min-height: 25px;
    padding: 3px;
    width: 100%;
    /*min-width: 200px;*/
    /*width: calc(100% - 150px);*/
    font-size: 14px;
    color: darkslategray;
}

.input-form__textarea {
    border-radius: 4px;
    border-width: 1px;
    min-height: 80px;
    padding: 3px;
    width: 100%;
    font-size: 14px;
    color: darkslategray;
}

.input-form__align-top {
    margin-top: 3px;
    vertical-align: top;
}

.input-form__user-input-error {
    color: red;
    font-size: 16px;
    height: 25px;
}

.input-form__checkbox_label {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: -4px;
}

.input-form__checkbox {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 15px;
    min-width: 20px;
    font-size: 14px;
    color: darkslategray;
    cursor: pointer;
}

.div__input {
    min-width: 200px;
    width: calc(100% - 150px);
    /*width: 100%;*/
    padding: 0;
    display: inline-block;
}