body {
    background-color: #3c3f41;
    padding-top: 70px;
    /*color: #bababa;*/
    margin: 5px 0 5px 0;
}

/*label {*/
    /*color: #bababa;*/
/*}*/

/*h1 {*/
    /*color: #bababa;*/
/*}*/

/*body {*/
    /*min-width: 550px; !* 2x LC width + RC width *!*/
/*}*/

.column__wrapper {
    padding-left: 150px; /* LC width */
    padding-right: 150px; /* RC width */
    max-width: 800px;
    /*display: inline-block;*/
    margin: auto;
}

.column {
    position: relative;
    float: left;
}

.column__center {
    width: 100%;
}

.column__left {
    width: 130px; /* LC width */
    right: 140px; /* LC width */
    margin-left: -100%;
}

.column__right {
    width: 130px; /* RC width */
    margin-right: -140px; /* RC width */
    padding-left: 10px;
}

.column__item {
    width: 100%;
    display: inline-block;
}

/*.footer {*/
/*clear: both;*/
/*}*/

/*** IE6 Fix ***/
/** html .column__left {*/
/*left: 150px; !* RC width *!*/
/*}*/

.div__bordered {
    text-align: left;
    margin-top: 5px;
    /*display: inline-block;*/
    border: solid darkorange;
    border-radius: 5px;
    padding: 10px;
}

.div__spacing {
    margin-top: 10px;
}

.div__bordered-label {
    margin-top: -12px;
    background: darkorange;
    margin-left: -12px;
    margin-right: -12px;
    color: darkred;
    /* border-radius: 5px; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 16px;
    padding: 3px;
    margin-bottom: 10px;
}

.info-block {
    /*max-width: 200px;*/
    width: calc(100% - 160px);
    display: inline-block;
    font-size: 16px;
    /*background: gainsboro;*/
    color: darkseagreen;
}

.link {
    font-size: 16px;
    color: #bababa;
}

a.button-link {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.div__align-center {
    text-align: center;
}

.div__align-right {
    text-align: right;
}

.div__inline-block {
    display: inline-block;
}

.div__block {
    display: block;
}

.div__top {
    vertical-align: top;
}

.div__max-width {
    width: 100%;
}

.search-column {
    width: 100%;
    font-size: 0;
}

.search-column__item {
    background: dimgray;
    width: 48%;
    padding: 0.5%;
    margin: 0.5%;
    display: inline-block;
    border-radius: 5px;
    font-size: 0;
}

.two-columns__left {
    width: 49%;
    /*float: left;*/
    vertical-align: top;
    display: inline-block;
}

.two-columns__right {
    width: 49%;
    margin-left: 1%;
    vertical-align: top;
    display: inline-block;
}

.two-columns__item {
    background: dimgray;
    border-radius: 5px;
    /*min-height: 100px;*/
    width: 100%;
    padding: 4px;
}

.two-columns__item + .two-columns__item {
    margin-top: 10px;
}

/*.unselectable {*/
/*-moz-user-select: -moz-none;*/
/*-khtml-user-select: none;*/
/*-webkit-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*}*/
.photo {
    width: 100%;
    /*min-height: 40px;*/
    /*max-height: 100px;*/
}

.min-photo {
    max-width: 60px;
    width: 60px;
    /*width: 100%;*/
    min-height: 60px;
    max-height: 60px;
}

.min-photo-block {
    min-height: 60px;
    min-width: 60px;
}

.align-top {
    vertical-align: top;
}

.row__item + .row__item {
    margin-top: 2px;
}

.row__form-label {
    padding-top: 8px;
}

.form {
    margin-bottom: 0;
}

.nav_arrows {
    pointer-events: none;
}