.menu {
    /*margin-right: 5px;*/
}

.menu__list {
    margin: 0;
    padding-left: 0;
}

.menu__item {
    display: block;
    line-height: 25px;
    text-align: center;
}

.menu__link {
    border-radius: 8px;
    line-height: 25px;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
}

.menu__link:hover {
    color: #252525;
    background-color: #dec23d;
}

.top-menu {
    background: dimgray;
}

.top-menu__list {
    margin: 0;
    padding-left: 0;
}

.top-menu__item {
    display: inline-block;
    line-height: 25px;
    text-align: center;
    padding: 0 10px 0 10px;
}

.top-menu__form {
    position: relative;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    font-size: 0;
}

.top-menu__search {
    display: inline-block;
    line-height: 17px;
    text-align: center;
    font-size: 13px;
    border-width: 0;
}

.top-menu__link {
    border-radius: 8px;
    line-height: 25px;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
}

.top-menu__link:hover {
    color: #252525;
    background-color: #dec23d;
}

.top-menu__button {
    border: 0;
    color: cornsilk;
    font-size: 16px;
    font-family: "Times New Roman", serif;
    background: none;
    border-radius: 8px;
    line-height: 25px;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    margin: 5px;
    cursor: pointer;
}

.top-menu__button:hover {
    color: #252525;
    background: #dec23d;
}

.top-menu__search-button {
    position: absolute;
    width: 16px;
    height: 16px;
    border-width: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: white url("../images/find.png");
    cursor: pointer;
}